body{
    background-image: linear-gradient(to bottom, #f9fafb, #d0ede3);
}
.main {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.intro{
    align-items: center;
    font-size: 16px;
}
.me{
    max-width: 420px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 30px;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.imgBox{
    border: 3px solid  #2f604f;
    padding: 10px;
}
.mePic{
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 3px solid #a33b0e;
}
.mainIntro{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    font-size: 18px;
}
.imageBtn {
    height: 100%;
}
.imageBtn:hover {
    border-color: black;
    box-shadow: rgb(144, 144, 144) 3px 3px 3px;
   opacity: .75;
}
.portfolioSquares{
    background-color: rgb(163, 59, 14);
    margin: 0 10px;
}
.portfolioSquares .col {
    padding: 10px;
    margin: 10px;
    /* height: 430px; */
}
.greenbg {
    background-color: #2f604f;
}
.redbg {
    background-color:#b74c1e;
}
.offset-left {
    margin-left: -50px;
}
.offset-right {
    margin-right: -50px;
}

 .familySelfie{
    justify-content: center;
    padding: 0 20px 20px 0;
    height: 200px;
 }


.bottomSection {
    background-color: white;
    border-radius: 3px;
    background-image: linear-gradient(#f9fafb, #d0ede3);
    text-align: center;
    padding: 20px 100px;
    width: 90%;
    font-size: 18px;
}
.quote{
    height: 200px;
    border: 2px solid #d0ede3;
}
.social{
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color:#2f604f
}
.social i{
    padding: 0 15px;
}
a {
    color: #2f604f;
}
a:hover {
    color:#d0ede3;
}